<ion-header>
  <ion-toolbar>
    <ion-title>Property</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card *ngFor="let keys of property_data" (click)="property_detail(keys.id)">
		<ion-card-content class="pad0">
			<img class="property_img" src="{{property_image_path}}{{keys.default_pic}}">
		</ion-card-content>
		<ion-card-content >
			<span class="area"> {{keys.landsize_approx}} sq.ft</span>
			<span class="num_bd"> <span class="dot">.</span> {{keys.num_bedroom}} Beds</span>
			<span class="num_bd"> <span class="dot">.</span> {{keys.num_bathroom}} Bath</span>
			<span class="price_range">{{keys.bottom_price_value}}-{{keys.upper_price_value}}$</span>
			<div>{{keys.short_description}}</div>
		</ion-card-content>
	</ion-card>
</ion-content>
