.property_img{
	width: 100%;
    height: 200px;
    max-width: 100%;
    max-height: 200px;
    min-width: 100%;
    min-height: 200px;
}
.price_range{
	float: right;
    font-size: 15px;
    color: #df1919;
    font-weight: 600;
}
.num_bd{
	font-size: 14px;
    font-weight: 600;
    color: #323030;
    font-family: system-ui;
	margin-left: 6px;
}
.dot{
	font-size: 14px;
    font-weight: 800;
    color: #80808070;
}
.area{
	font-size: 14px;
    color: #808080d6;
    font-weight: 400;
    font-family: inherit;
}