.property_img{
	width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
}
.price_range{
	font-size: 22px;
    color: #df1919;
    font-weight: 600;
    width: 100%;
	margin-bottom: 12px;
}
.num_bd{
	font-size: 15px;
    font-weight: 600;
    color: #323030;
    font-family: system-ui;
	margin-left: 6px;
}
.dot{
	font-size: 14px;
    font-weight: 800;
    color: #80808070;
}
.area{
	font-size: 15px;
    color: #808080d6;
    font-weight: 400;
    font-family: inherit;
}
.topdiv{
	padding: 18px 15px 25px;
    border-bottom: 1px solid #00000026;
    margin: 10px;
}
.info{
	color: #df1919;
    border: 2px solid #df1919;
    padding: 0px 8px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50px;
}
ion-toolbar img{
	float: left;
    margin-right: 10px;
}
ion-toolbar span{
	display: inline-block;
    max-width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}