<ion-header>
  <ion-toolbar>
    <ion-title style="padding: 12px;"><span>{{property_data.property_name}}</span>
		<img routerLink="/property-list" src="../../assets/images/back-icon.png">
	</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let keys of property_images">
			<img class="property_img" src="{{property_image_path}}{{keys}}">
        </ion-slide>
	</ion-slides>
	<div class="topdiv">
		<div class="price_range">{{property_data.bottom_price_value}}-{{property_data.upper_price_value}}$</div>
		<span class="area"> {{property_data.landsize_approx}} sq.ft</span>
		<span class="num_bd"> <span class="dot">.</span> {{property_data.num_bedroom}} Beds</span>
		<span class="num_bd"> <span class="dot">.</span> {{property_data.num_bathroom}} Bath</span>
	</div>
	<div>
		<ion-grid>
			<ion-row>
				<ion-col size="1.5" style="text-align: center;">
					<span class="info">i</span>
				</ion-col>
				<ion-col size="10.5">
					<div>{{property_data.property_desc}}</div>
				</ion-col>
			</ion-row>
		</ion-grid>
		<ion-grid>
			<ion-row>
				<ion-col size="1.5" style="text-align: center;">
					<i class="fa fa-user"></i>
				</ion-col>
				<ion-col size="10.5">
					<div>{{property_data.fullname}}</div>
				</ion-col>
			</ion-row>
		</ion-grid>
		<ion-grid>
			<ion-row>
				<ion-col size="1.5" style="text-align: center;">
					<i class="fa fa-phone"></i>
				</ion-col>
				<ion-col size="10.5">
					<div>{{property_data.contact_number}}</div>
				</ion-col>
			</ion-row>
		</ion-grid>
		<ion-grid>
			<ion-row>
				<ion-col size="1.5" style="text-align: center;">
					<i class="fa fa-location"></i>
				</ion-col>
				<ion-col size="10.5">
					<div>{{property_data.state}} {{property_data.city}}</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	
	</div>
	
</ion-content>
